<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="plutonium-axis-behavior.html">

<!--
`plutonium-y-axis`

Waterfall visualization chart.

@demo demo/index-axis.html 
-->

<dom-module id="plutonium-y-axis">
    <script src="../d3/d3.js"></script>

    <template>
        <style>
            :host {
                font: 10px sans-serif;
            }

            .axis path,
            .axis line {
                fill: none;
                stroke: #000;
                shape-rendering: crispEdges;
            }
        </style>
    </template>

    <script>
        Polymer({
            is: 'plutonium-y-axis',
            properties: {
                orientation: {
                    value: 'bottom'
                }
            },
            behaviors: [
                Plutonium.AxisBehavior
            ],
            initializeD3: function (size, orientation) {
                this._scale = d3.scaleLinear();
                switch (orientation) {
                    case 'top':
                        this._axis = d3.axisTop(this._scale);
                        break;
                    case 'bottom':
                        this._axis = d3.axisBottom(this._scale);
                        break;
                    default:
                        console.error(this.is, 'orientation value is invalid:', orientation);
                        break;
                }
            },
            resizeOrientationD3: function (offsetWidth, offsetHeight) {
                return offsetHeight;
            },
            transformD3: function (g, size) {
                
                return g.attr('transform', 'translate(0,' + size + ')');
//                return g;
            }
        });
    </script>
</dom-module>
